{% extends 'base.html' %}

    {% block title %}トップページ - {{ site_name }}{% endblock %}

    {% block content %}
        <h1>{{ book_info.title }}</h1>
        <p>{{ message }}</p>

        <p>
            <hr>
            <p>著者: {{ book_info.author }}</p>
            <h2>あらすじ/説明</h2>
            <p>{{ book_info.description }}</p>

            <h2>感想</h2>
            {% if book_info.reviews %}
                <ul>
                    {% for review in book_info.reviews %}
                        <li><strong>{{ review.user }}さんの感想:</strong> {{ review.text }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>まだ感想はありません。</p>
            {% endif %}
        </p>
    {% endblock %}